<div class="container-fluid">
    <div class="row">
    </div>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <h2 class="f-36 gold-text text-center">О компании</h2>
            <div class="description f-22 p-3">
                <p style="text-indent:40px;">Мы занимаемся проектировкой, изготовлением металлоконструкции по Вашим чертежам и производством металлических конструкций для различного применения и любой степени сложности в Москве, Ростове и Новосибирске. А наш главный офис находится в Германии.</p>
                <p style="text-indent:40px;">Наши металлоконструкции отличаются высокой надежностью, прочностью и долговечностью, и при этом - самой низкой ценой на рынке.</p>
                <p style="text-indent:40px;">Нашими клиентами являются частные лица и предприятия, поэтому мы открыты новому сотрудничеству и всегда готовы делиться успехами.</p>
                <p style="text-indent:40px;">Готовы ответить на Ваши вопросы удобным Вам способом: телефон, email, чат. Подробную информацию о наших контактах вы можете узнать в разделе Контакты.</p>
            </div>
        </div>
    </div>
<!--    <div class="row d-flex justify-content-between mt-4 mb-4">-->
<!--        <div class="col-sm-3 col-12 f-36 text-center p-0 mb-sm-0 mb-3">-->
<!--            Некоторая информация о компании-->
<!--        </div>-->
<!--        <div class="col-sm-3 col-12 f-36 text-center p-0 mb-sm-0 mb-3">-->
<!--            Некоторая информация о компании-->
<!--        </div>-->
<!--        <div class="col-sm-3 col-12 f-36 text-center p-0 m">-->
<!--            Некоторая информация о компании-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="divider"></div>-->

<!--    <div class="row mb-5">-->
<!--        <div class="col-12">-->
<!--            <h2 class="f-36 text-center mb-3">Кто мы</h2>-->
<!--            <div id="carouselHistory" class="carousel slide" data-ride="carousel">-->
<!--                <ol class="carousel-indicators ">-->
<!--                    <li data-target="#carouselHistory" data-slide-to="0" class="active"></li>-->
<!--                    <li data-target="#carouselHistory" data-slide-to="1"></li>-->
<!--                    <li data-target="#carouselHistory" data-slide-to="2"></li>-->
<!--                </ol>-->
<!--                <div class="carousel-inner">-->
<!--                    <div class="carousel-item active">-->
<!--                        <div class="row info-block">-->
<!--                            <div class="col-lg-4 col-md-12 d-flex justify-content-around align-items-center">-->
<!--                                <img class="img-fluid" src="/images/uslugi.png" alt="">-->
<!--                                <div class="divider-info d-none d-lg-block"></div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-7 col-md-12 mt-md-3">-->
<!--                                <div class="info-title f-26 text-center text-lg-left gold-text mt-md-0 mt-2">История</div>-->
<!--                                <div class="info-description f-20 mt-3 text-center text-lg-left mb-5 pl-lg-0 pl-2 pr-lg-0 pr-2">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <div class="row info-block">-->
<!--                            <div class="col-lg-4 col-md-12 d-flex justify-content-around align-items-center">-->
<!--                                <img class="img-fluid" src="/images/uslugi.png" alt="">-->
<!--                                <div class="divider-info d-none d-lg-block"></div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-7 col-md-12 mt-md-3">-->
<!--                                <div class="info-title f-26 text-center text-lg-left gold-text mt-md-0 mt-2">История</div>-->
<!--                                <div class="info-description f-20 mt-3 text-center text-lg-left mb-5 pl-lg-0 pl-2 pr-lg-0 pr-2">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <div class="row info-block">-->
<!--                            <div class="col-lg-4 col-md-12 d-flex justify-content-around align-items-center">-->
<!--                                <img class="img-fluid" src="/images/uslugi.png" alt="">-->
<!--                                <div class="divider-info d-none d-lg-block"></div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-7 col-md-12 mt-md-3">-->
<!--                                <div class="info-title f-26 text-center text-lg-left gold-text mt-md-0 mt-2">История</div>-->
<!--                                <div class="info-description f-20 mt-3 text-center text-lg-left mb-5 pl-lg-0 pl-2 pr-lg-0 pr-2">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <a class="carousel-control-prev" href="#carouselHistory" role="button" data-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">Предыдущий</span>-->
<!--                </a>-->
<!--                <a class="carousel-control-next" href="#carouselHistory" role="button" data-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">Следующий</span>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row mt-5 mb-5">-->
<!--        <div class="col-12">-->
<!--            <div id="carouselSpecialists" class="carousel slide" data-ride="carousel">-->
<!--                <ol class="carousel-indicators">-->
<!--                    <li data-target="#carouselSpecialists" data-slide-to="0" class="active"></li>-->
<!--                    <li data-target="#carouselSpecialists" data-slide-to="1"></li>-->
<!--                    <li data-target="#carouselSpecialists" data-slide-to="2"></li>-->
<!--                </ol>-->
<!--                <div class="carousel-inner">-->
<!--                    <div class="carousel-item active">-->
<!--                        <div class="row info-block">-->
<!--                            <div class="col-lg-7 offset-lg-1 col-md-12 mt-md-3 order-lg-1 order-2">-->
<!--                                <div class="info-title f-26 text-center text-lg-left gold-text mt-md-0 mt-2">История</div>-->
<!--                                <div class="info-description f-20 mt-3 text-center text-lg-left mb-5 pl-lg-0 pl-2 pr-lg-0 pr-2">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-12 d-flex justify-content-around align-items-center order-lg-2 order-1">-->
<!--                                <div class="divider-info d-none d-lg-block"></div>-->
<!--                                <img class="img-fluid" src="/images/uslugi.png" alt="">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <div class="row info-block">-->
<!--                            <div class="col-lg-7 offset-lg-1 col-md-12 mt-md-3 order-lg-1 order-2">-->
<!--                                <div class="info-title f-26 text-center text-lg-left gold-text mt-md-0 mt-2">История</div>-->
<!--                                <div class="info-description f-20 mt-3 text-center text-lg-left mb-5 pl-lg-0 pl-2 pr-lg-0 pr-2">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-12 d-flex justify-content-around align-items-center order-lg-2 order-1">-->
<!--                                <div class="divider-info d-none d-lg-block"></div>-->
<!--                                <img class="img-fluid" src="/images/uslugi.png" alt="">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <div class="row info-block">-->
<!--                            <div class="col-lg-7 offset-lg-1 col-md-12 mt-md-3 order-lg-1 order-2">-->
<!--                                <div class="info-title f-26 text-center text-lg-left gold-text mt-md-0 mt-2">История</div>-->
<!--                                <div class="info-description f-20 mt-3 text-center text-lg-left mb-5 pl-lg-0 pl-2 pr-lg-0 pr-2">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-12 d-flex justify-content-around align-items-center order-lg-2 order-1">-->
<!--                                <div class="divider-info d-none d-lg-block"></div>-->
<!--                                <img class="img-fluid" src="/images/uslugi.png" alt="">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <a class="carousel-control-prev" href="#carouselSpecialists" role="button" data-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">Предыдущий</span>-->
<!--                </a>-->
<!--                <a class="carousel-control-next" href="#carouselSpecialists" role="button" data-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">Следующий</span>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row mt-5 mb-5">-->
<!--        <div class="col-12">-->
<!--            <div id="carouselReviews" class="carousel slide" data-ride="carousel">-->
<!--                <ol class="carousel-indicators">-->
<!--                    <li data-target="#carouselReviews" data-slide-to="0" class="active"></li>-->
<!--                    <li data-target="#carouselReviews" data-slide-to="1"></li>-->
<!--                    <li data-target="#carouselReviews" data-slide-to="2"></li>-->
<!--                </ol>-->
<!--                <div class="carousel-inner">-->
<!--                    <div class="carousel-item active">-->
<!--                        <div class="row info-block">-->
<!--                            <div class="col-lg-4 col-md-12 d-flex justify-content-around align-items-center">-->
<!--                                <img class="img-fluid" src="/images/uslugi.png" alt="">-->
<!--                                <div class="divider-info d-none d-lg-block"></div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-7 col-md-12 mt-md-3">-->
<!--                                <div class="info-title f-26 text-center text-lg-left gold-text mt-md-0 mt-2">История</div>-->
<!--                                <div class="info-description f-20 mt-3 text-center text-lg-left mb-5 pl-lg-0 pl-2 pr-lg-0 pr-2">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <div class="row info-block">-->
<!--                            <div class="col-lg-4 col-md-12 d-flex justify-content-around align-items-center">-->
<!--                                <img class="img-fluid" src="/images/uslugi.png" alt="">-->
<!--                                <div class="divider-info d-none d-lg-block"></div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-7 col-md-12 mt-md-3">-->
<!--                                <div class="info-title f-26 text-center text-lg-left gold-text mt-md-0 mt-2">История</div>-->
<!--                                <div class="info-description f-20 mt-3 text-center text-lg-left mb-5 pl-lg-0 pl-2 pr-lg-0 pr-2">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <div class="row info-block">-->
<!--                            <div class="col-lg-4 col-md-12 d-flex justify-content-around align-items-center">-->
<!--                                <img class="img-fluid" src="/images/uslugi.png" alt="">-->
<!--                                <div class="divider-info d-none d-lg-block"></div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-7 col-md-12 mt-md-3">-->
<!--                                <div class="info-title f-26 text-center text-lg-left gold-text mt-md-0 mt-2">История</div>-->
<!--                                <div class="info-description f-20 mt-3 text-center text-lg-left mb-5 pl-lg-0 pl-2 pr-lg-0 pr-2">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <a class="carousel-control-prev" href="#carouselReviews" role="button" data-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">Предыдущий</span>-->
<!--                </a>-->
<!--                <a class="carousel-control-next" href="#carouselReviews" role="button" data-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">Следующий</span>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="divider"></div>

    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="f-36 text-center mb-4 mt-2">Почему мы</h2>
        </div>
        <div class="col-11 mb-5 scale">
            <div class="reason-block">
                <div class="gold-border">
                    <div class="reason-title f-26 text-center">Стоимость</div>
                    <div class="reason-description f-20 mt-2">Вы можете преобрести продукцию по самой выгодной цене на всем рынке. При этом это никак не отражается на качество продукции. Компания не использует программы кредитования, а потому может позволить себе максимально выгодные для покупателя цены на нашу продукцию. Вы, сотрудничая с нами, сэкономите в денежных средствах. Наша компания предлагает именно для Вас самые выгодные поставки продукции.</div>
                    <div class="reason-image"><img src="/images/icons/price.svg" alt="price"></div>
                </div>
            </div>
        </div>
        <div class="col-11 mb-5 mt-3 scale">
            <div class="reason-block">
                <div class="gold-border">
                    <div class="reason-title f-26 text-center">Качество</div>
                    <div class="reason-description f-20 mt-2">Качество не равно цене. Мы предлагаем точную и надежную работу вплоть до самых мелких деталей. В области грубой сборки <strong>«Roehrich»</strong> берет на себя проект или проект строительства и сопровождает его  до начала производства. Ни одной машине не удается легко одурачить наших специалистов из службы измерительной техники. Они всегда могут прийти на помощь, используя свой опыт, компетентность и надежность.</div>
                    <div class="reason-image"><img src="/images/icons/stars.svg" alt="stars"></div>
                </div>
            </div>
        </div>
        <div class="col-11 mb-5 mt-3 scale">
            <div class="reason-block">
                <div class="gold-border">
                    <div class="reason-title f-26 text-center">Доступность</div>
                    <div class="reason-description f-20 mt-2">Вы можете быть уверены в том, что доступность нашей продукции не снизится. У нас есть возможность увеличения объемов выпуска без потери качества. Продажа продукции только напрямую, минуя цепь посредников. Доставка продукции всегда во время.</div>
                    <div class="reason-image"><img src="/images/icons/russia.svg" alt="russia"></div>
                </div>
            </div>
        </div>
        <div class="col-11 mb-5 mt-3 scale">
            <div class="reason-block">
                <div class="gold-border">
                    <div class="reason-title f-26 text-center">Лояльность</div>
                    <div class="reason-description f-20 mt-2">Вы можете стать нашим постоянным клиентом, и получить скидку на нашу продукцию.</div>
                    <div class="reason-image"><img src="/images/icons/handshake.svg" alt="handshake"></div>
                </div>
            </div>
        </div>
        <div class="col-11 mb-5 mt-3 scale">
            <div class="reason-block">
                <div class="gold-border">
                    <div class="reason-title f-26 text-center">Сервис</div>
                    <div class="reason-description f-20 mt-2">Более 95% наших сотрудников имеют высшее образование. Они всегда могут прийти на помощь, используя свой опыт, компетентность и надежность.</div>
                    <div class="reason-image"><img src="/images/icons/service.svg" alt="service"></div>
                </div>
            </div>
        </div>
    </div>

</div>