<div class="container-fluid">
    <div class="row">
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-7">
            <h2 class="f-48">О компании</h2>
            <div class="description f-24"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
    </div>
    <div class="row d-flex justify-content-between mt-5">
        <div class="col-lg-3 f-36 text-center">
            Некоторая информация о компании
        </div>
        <div class="col-lg-3 f-36 text-center">
            Некоторая информация о компании
        </div>
        <div class="col-lg-3 f-36 text-center">
            Некоторая информация о компании
        </div>
    </div>

    <div class="divider"></div>

    <div class="row mb-5">
        <div class="col-12">
            <h2 class="f-36 text-center mb-3">Кто мы</h2>
            <div id="carouselHistory" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselHistory" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselHistory" data-slide-to="1"></li>
                    <li data-target="#carouselHistory" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row info-block">
                            <div class="col-lg-4 d-flex justify-content-around align-items-center">
                                <img class="h-100" src="images/uslugi.png" alt="">
                                <div class="divider-info"></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="info-title f-26">История</div>
                                <div class="info-description f-20 mt-3">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row info-block">
                            <div class="col-lg-4 d-flex justify-content-around align-items-center">
                                <img class="h-100" src="images/uslugi.png" alt="">
                                <div class="divider-info"></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="info-title f-26">История</div>
                                <div class="info-description f-20 mt-3">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row info-block">
                            <div class="col-lg-4 d-flex justify-content-around align-items-center">
                                <img class="h-100" src="images/uslugi.png" alt="">
                                <div class="divider-info"></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="info-title f-26">История</div>
                                <div class="info-description f-20 mt-3">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselHistory" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#carouselHistory" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-12">
            <div id="carouselSpecialists" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselSpecialists" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselSpecialists" data-slide-to="1"></li>
                    <li data-target="#carouselSpecialists" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row info-block">
                            <div class="col-lg-7 mx-auto">
                                <div class="info-title f-26">Специалисты</div>
                                <div class="info-description f-20 mt-3">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>
                            </div>
                            <div class="col-lg-4 d-flex justify-content-around align-items-center">
                                <div class="divider-info"></div>
                                <img class="h-100" src="images/uslugi.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row info-block">
                            <div class="col-lg-7 mx-auto">
                                <div class="info-title f-26">Специалисты</div>
                                <div class="info-description f-20 mt-3">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>
                            </div>
                            <div class="col-lg-4 d-flex justify-content-around align-items-center">
                                <div class="divider-info"></div>
                                <img class="h-100" src="images/uslugi.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row info-block">
                            <div class="col-lg-7 mx-auto">
                                <div class="info-title f-26">Специалисты</div>
                                <div class="info-description f-20 mt-3">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>
                            </div>
                            <div class="col-lg-4 d-flex justify-content-around align-items-center">
                                <div class="divider-info"></div>
                                <img class="h-100" src="images/uslugi.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselSpecialists" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#carouselSpecialists" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-12">
            <div id="carouselReviews" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselReviews" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselReviews" data-slide-to="1"></li>
                    <li data-target="#carouselReviews" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row info-block">
                            <div class="col-lg-4 d-flex justify-content-around align-items-center">
                                <img class="h-100" src="images/uslugi.png" alt="">
                                <div class="divider-info"></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="info-title f-26">История</div>
                                <div class="info-description f-20 mt-3">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row info-block">
                            <div class="col-lg-4 d-flex justify-content-around align-items-center">
                                <img class="h-100" src="images/uslugi.png" alt="">
                                <div class="divider-info"></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="info-title f-26">История</div>
                                <div class="info-description f-20 mt-3">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row info-block">
                            <div class="col-lg-4 d-flex justify-content-around align-items-center">
                                <img class="h-100" src="images/uslugi.png" alt="">
                                <div class="divider-info"></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="info-title f-26">История</div>
                                <div class="info-description f-20 mt-3">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselReviews" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#carouselReviews" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div class="col-12">
            <h2 class="f-36 text-center mb-3">Почему мы</h2>
            <div class="reason-block">
                <div class="reason-number f-26 text-center">1 Причина</div>
                <div class="reason-description f-20 pl-3 mt-2">commodo ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed</div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="reason-block">
                <div class="reason-number f-26 text-center">2 Причина</div>
                <div class="reason-description f-20 pl-3 mt-2">commodo ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed</div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="reason-block">
                <div class="reason-number f-26 text-center">3 Причина</div>
                <div class="reason-description f-20 pl-3 mt-2">commodo ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed</div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="reason-block">
                <div class="reason-number f-26 text-center">4 Причина</div>
                <div class="reason-description f-20 pl-3 mt-2">commodo ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed</div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="reason-block">
                <div class="reason-number f-26 text-center">5 Причина</div>
                <div class="reason-description f-20 pl-3 mt-2">commodo ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed</div>
            </div>
        </div>
    </div>

</div>