<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center f-48">Свяжитесь с нами</h2>
            <div class="contacts-phone f-24 d-flex justify-content-around">
                <a href="tel:888888888">+7(900)800-35-35</a>
                <a href="tel:888888888">+7(900)800-35-35</a>
            </div>
            <div class="contacts-info"></div>
        </div>
        <div class="col-12">
            <div class="contacts-block">
                <div class="contacts-block-main d-flex flex-column">
                    <a class="contacts-address f-24" href="">Адрес: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                    <a class="contacts-mail f-24" href="">Email: teechnol@gmail.com</a>
                </div>
                <a class="contacts-map" href="">
                    <div class="contacts-map-block"></div>
                    <div class="contacts-map-text">Смотреть на карте</div>
                </a>
            </div>
        </div>
    </div>
</div>