<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="f-48 text-center">Категории</h2>
            <div class="row">
                {{#if divides}}
                    {{#each divides}}
                        <div class="col-md-4 mt-4">
                            <div class="product-card row flex-column align-items-center justify-content-around">
                                <div class="productions-title f-36 text-center">{{name}}</div>
                                <div class="product-img"><img class="img-fluid" src="{{srcImage}}" alt="product-img"></div>
                                <a href="/kategorii/{{id}}" class="productions-button text-center">Посмотреть все</a>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>