<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/example.png" class="d-block w-100" alt="example">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Метка первого слайда</h5>
                            <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/example.png" class="d-block w-100" alt="example">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Метка второго слайда</h5>
                            <p>Некоторый репрезентативный заполнитель для второго слайда.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/example.png" class="d-block w-100" alt="example">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Метка третьего слайда</h5>
                            <p>Некоторый репрезентативный заполнитель для третьего слайда.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="f-48 text-center">Выгодные предложения</h2>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="images/card-img.png" alt="card-img">
                        <div class="sale f-24 d-flex justify-content-center align-items-center">-30% объекты</div>
                        <a href="" class="card-button text-center">Купить сейчас</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="images/card-img.png" alt="card-img">
                        <div class="sale f-24 d-flex justify-content-center align-items-center">-30% объекты</div>
                        <a href="" class="card-button text-center">Купить сейчас</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="images/card-img.png" alt="card-img">
                        <div class="sale f-24 d-flex justify-content-center align-items-center">-30% объекты</div>
                        <a href="" class="card-button text-center">Купить сейчас</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h2 class="f-48 text-center">Наши товары</h2>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="images/card-img.png" alt="card-img">
                        <div class="product-name f-18 text-center">Наименование товара</div>
                        <div class="product-price f-26 text-center">2000р</div>
                        <a class="cart-link" href="#">
                            <div class="cart text-center f-20"><img src="images/icons/cart.svg" alt="cart"></div>
                        </a>
                        <a class="buy-link" href="#">
                            <div class="buy text-center">Купить</div>
                        </a>
                        <div class="buy"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="images/card-img.png" alt="card-img">
                        <div class="product-name f-18 text-center">Наименование товара</div>
                        <div class="product-price f-26 text-center">2000р</div>
                        <a class="cart-link" href="#">
                            <div class="cart text-center f-20"><img src="images/icons/cart.svg" alt="cart"></div>
                        </a>
                        <a class="buy-link" href="#">
                            <div class="buy text-center">Купить</div>
                        </a>
                        <div class="buy"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="images/card-img.png" alt="card-img">
                        <div class="product-name f-18 text-center">Наименование товара</div>
                        <div class="product-price f-26 text-center">2000р</div>
                        <a class="cart-link" href="#">
                            <div class="cart text-center f-20"><img src="images/icons/cart.svg" alt="cart"></div>
                        </a>
                        <a class="buy-link" href="#">
                            <div class="buy text-center">Купить</div>
                        </a>
                        <div class="buy"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="images/card-img.png" alt="card-img">
                        <div class="product-name f-18 text-center">Наименование товара</div>
                        <div class="product-price f-26 text-center">2000р</div>
                        <a class="cart-link" href="#">
                            <div class="cart text-center f-20"><img src="images/icons/cart.svg" alt="cart"></div>
                        </a>
                        <a class="buy-link" href="#">
                            <div class="buy text-center">Купить</div>
                        </a>
                        <div class="buy"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="images/card-img.png" alt="card-img">
                        <div class="product-name f-18 text-center">Наименование товара</div>
                        <div class="product-price f-26 text-center">2000р</div>
                        <a class="cart-link" href="#">
                            <div class="cart text-center f-20"><img src="images/icons/cart.svg" alt="cart"></div>
                        </a>
                        <a class="buy-link" href="#">
                            <div class="buy text-center">Купить</div>
                        </a>
                        <div class="buy"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="images/card-img.png" alt="card-img">
                        <div class="product-name f-18 text-center">Наименование товара</div>
                        <div class="product-price f-26 text-center">2000р</div>
                        <a class="cart-link" href="#">
                            <div class="cart text-center f-20"><img src="images/icons/cart.svg" alt="cart"></div>
                        </a>
                        <a class="buy-link" href="#">
                            <div class="buy text-center">Купить</div>
                        </a>
                        <div class="buy"></div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <a class="catalog-button text-center">Каталог</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h2 class="f-48 text-center">Наши услуги</h2>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img class="img-fluid h-100" src="images/uslugi.png" alt="card-img">
                        <div class="service f-24 text-center">Лазерная резка
                            <a class="service-button text-center">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img class="img-fluid h-100" src="images/uslugi.png" alt="card-img">
                        <div class="service f-24 text-center">Лазерная резка
                            <a class="service-button text-center">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img class="img-fluid h-100" src="images/uslugi.png" alt="card-img">
                        <div class="service f-24 text-center">Лазерная резка
                            <a class="service-button text-center">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img class="img-fluid h-100" src="images/uslugi.png" alt="card-img">
                        <div class="service f-24 text-center">Лазерная резка
                            <a class="service-button text-center">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img class="img-fluid h-100" src="images/uslugi.png" alt="card-img">
                        <div class="service f-24 text-center">Лазерная резка
                            <a class="service-button text-center">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img class="img-fluid h-100" src="images/uslugi.png" alt="card-img">
                        <div class="service f-24 text-center">Лазерная резка
                            <a class="service-button text-center">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img class="img-fluid h-100" src="images/uslugi.png" alt="card-img">
                        <div class="service f-24 text-center">Лазерная резка
                            <a class="service-button text-center">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img class="img-fluid h-100" src="images/uslugi.png" alt="card-img">
                        <div class="service f-24 text-center">Лазерная резка
                            <a class="service-button text-center">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img class="img-fluid h-100" src="images/uslugi.png" alt="card-img">
                        <div class="service f-24 text-center">Лазерная резка
                            <a class="service-button text-center">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h2 class="f-48 text-center">Таблица скидок</h2>
            <div class="text-center f-26">Отводы 380р</div>
            <div class="divider"></div>
            <div class="text-center f-24">От 50 шт 2% скидка</div>
            <div class="divider"></div>
            <div class="text-center f-24">От 100 шт 4% скидка</div>
            <div class="divider"></div>
            <div class="text-center f-24">От 250 шт 7% скидка</div>
            <div class="divider"></div>
            <div class="text-center f-24">От 500 шт 11% скидка</div>
            <div class="divider"></div>
            <div class="text-center f-24">От 1000 шт 14% скидка</div>
            <div class="divider"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="gif">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="text-center f-48">Свяжитесь с нами</h2>
            <div class="form">
                <div class="row">
                    <div class="col-lg-6 form-contacts-wrapper">
                        <label class="f-22" for="contactName">ФИО</label>
                        <input name="contactName" type="text" id="contactName" class="form-contacts" placeholder="Ваше имя">
                    </div>
                    <div class="col-lg-6 form-contacts-wrapper">
                        <label class="f-22" for="organizationName">Название организации</label>
                        <input name="organizationName" type="text" id="organizationName" class="form-contacts" placeholder="Ваша организация">
                    </div>
                    <div class="col-lg-6 form-contacts-wrapper">
                        <label class="f-22" for="divideName">Контакты</label>
                        <input name="divideName" type="text" id="divideName" class="form-contacts" placeholder="Номер телефона или email">
                    </div>
                    <div class="col-lg-6 form-contacts-wrapper">
                        <label class="f-22" for="divideName">Список товаров</label>
                        <input name="divideName" type="text" id="divideName" class="form-contacts" placeholder="Выберите товар">
                    </div>
                    <div class="col-lg-6 form-contacts-wrapper">
                        <label class="f-22" for="divideName">Количество</label>
                        <input name="divideName" type="text" id="divideName" class="form-contacts" placeholder="Введите количество товара">
                    </div>
                    <div class="col-lg-6 form-contacts-wrapper">
                        <label class="f-22" for="divideName">Когда</label>
                        <input name="divideName" type="text" id="divideName" class="form-contacts" placeholder="Введите дату доставки">
                    </div>
                    <div class="col-lg-8 mx-auto">
                        <label class="f-22" for="divideName">Адрес</label>
                        <input name="divideName" type="text" id="divideName" class="form-contacts" placeholder="Введите адрес доставки">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>