<div class="container-fluid p-0 mt-5">
    <h2 class="f-36 text-center">Отводы крутоизогнутые</h2>
    <div class="divider"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="description f-26 mt-3">
                lacinia at quis risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum non consectetur a erat nam at lectus urna duis
                <div class="divider"></div>
                lacinia at quis risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum non consectetur a erat nam at lectus urna duis
                <div class="divider"></div>
            </div>
            <div class="product-list">
                <select name="select" class="product-select">
                    <option value="valeu1" disabled>Выберите товар</option>
                    <option value="value2">Значение 1</option>
                    <option value="value3">Значение 2</option>
                    <option value="value4">Значение 3</option>
                </select>
            </div>
            <div class="mt-3 row ml-0">
                <form action="#" method="post"><button class="productions-button mr-3">В корзину</button></form>
                <form action="#" method="post"><button class="productions-button">Оформить</button></form>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product-image">
                <img src="images/product-img.png" alt="product-img">
            </div>
        </div>
    </div>
</div>