<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="f-48 text-center">Товары</h2>
            <div class="row">
                <div class="col-md-8 mt-4">
                    <div class="product-card align-items-center row">
                        <div class="col-lg-7 d-flex justify-content-center">
                            <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
                        </div>
                        <div class="col-lg-5 d-flex flex-column align-items-center">
                            <div class="productions-title f-36 text-center">Кованные изделия</div>
                            <a class="productions-button text-center mt-3">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="product-card row flex-column align-items-center justify-content-around">
                        <div class="productions-title f-36 text-center">Кованные изделия</div>
                        <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
                        <a class="productions-button text-center">Подробнее</a>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="product-card row flex-column align-items-center justify-content-around">
                        <div class="productions-title f-36 text-center">Кованные изделия</div>
                        <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
                        <a class="productions-button text-center">Подробнее</a>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="product-card row flex-column align-items-center justify-content-around">
                        <div class="productions-title f-36 text-center">Кованные изделия</div>
                        <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
                        <a class="productions-button text-center">Подробнее</a>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="product-card row flex-column align-items-center justify-content-around">
                        <div class="productions-title f-36 text-center">Кованные изделия</div>
                        <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
                        <a class="productions-button text-center">Подробнее</a>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="product-card align-items-center row">
                        <div class="col-lg-7 d-flex justify-content-center">
                            <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
                        </div>
                        <div class="col-lg-5 d-flex flex-column align-items-center">
                            <div class="productions-title f-36 text-center">Кованные изделия</div>
                            <a class="productions-button text-center mt-3">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>