<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="f-48 text-center">Товары</h2>
            <div class="row">
                <div class="col-md-8">
                    <div class="product-card align-items-center row">
                        <div class="col-lg-7 d-flex justify-content-center">
                            <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
                        </div>
                        <div class="col-lg-5 d-flex flex-column">
                            <div class="productions-title f-36 text-center">Кованные изделия</div>
                            <button class="productions-button mx-auto mt-3">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-card d-flex flex-column align-items-center justify-content-between">
                        <div class="productions-title f-36 text-center">Кованные изделия</div>
                        <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
                        <button class="productions-button">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 d-flex justify-content-between">
        <div class="col-md-4 product-card d-flex flex-column align-items-center justify-content-between">
            <div class="productions-title f-36 text-center">Кованные изделия</div>
            <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
            <button class="productions-button">Подробнее</button>
        </div>
        <div class="col-md-4 product-card d-flex flex-column align-items-center justify-content-between">
            <div class="productions-title f-36 text-center">Кованные изделия</div>
            <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
            <button class="productions-button">Подробнее</button>
        </div>
        <div class="col-md-4 product-card d-flex flex-column align-items-center justify-content-between">
            <div class="productions-title f-36 text-center">Кованные изделия</div>
            <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
            <button class="productions-button">Подробнее</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 product-card d-flex flex-column align-items-center justify-content-between">
            <div class="productions-title f-36 text-center">Кованные изделия</div>
            <div class="product-img"><img class="img-fluid" src="images/product-img.png" alt="product-img"></div>
            <button class="productions-button">Подробнее</button>
        </div>
    </div>
</div>