<div class="container-fluid p-0 mt-5">
    <h2 class="f-36 text-center">Лазерная резка</h2>
    <div class="divider"></div>
</div>
<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-lg-7 p-0">
            <div class="description f-26 mt-3">
                lacinia at quis risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum non consectetur a erat nam at lectus urna duis
                <div class="divider"></div>
                lacinia at quis risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum non consectetur a erat nam at lectus urna duis
                <div class="divider"></div>
            </div>
        </div>
        <div class="col-lg-5 d-flex justify-content-center">
            <div class="service-image img-fluid">
                <img class="" src="/images/uslugi.png" alt="uslugi-img">
            </div>
        </div>
    </div>
</div>