<div class="container-fluid mt-3 p-0">
    <h2 class="f-48 text-center">Наши услуги</h2>
    <div class="divider"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row pt-5 pr-5 pl-5">
                {{#if services}}
                    {{#each services}}
                        <div class="col-lg-3 col-sm-6 mt-4 col-12 mb-3 d-flex justify-content-center">
                            <div class="card-services d-flex flex-column align-items-center justify-content-around mx-auto">
                                <h2 class="card-services-title f-22 text-center font-weight-bold gold-text">{{name}}</h2>
                                <div class="service-divider"></div>
                                <div class="card-services-description f-18 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </div>
                                <a href="/uslugi/{{id}}" class="service-button text-center">Подробнее</a>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>