<div class="container">
    <div class="row justify-content-center mb-5 mt-5">
        <div class="col-12">
            <h3 class="text-center">Добавление категории</h3>
        </div>
        {{#if addSuccess}}
            <div class="col-7">
                <div class="alert alert-success text-center">{{addSuccess}}</div>
            </div>
        {{/if}}
        {{#if fileError}}
            <div class="col-7">
                <div class="alert alert-danger text-center">{{fileError}}</div>
            </div>
        {{/if}}
        <form action="/control/add-divide" method="post" enctype="multipart/form-data">
            <div class="form-group mt-3">
                <label class="f-18" for="divideName">Название категории</label>
                <input name="divideName" type="text" id="divideName" class="form-control">
            </div>
            <div class="form-group">
                <label class="f-18" for="divideImage">Добавьте изображение</label>
                <div class="fileinput-wrapper">
                    <div class="file-upload">
                        <label>
                            <input type="file" name="divideImage">
                            <span>Выбрать файл</span>
                        </label>
                    </div>
                    <input type="text" id="filename" class="filename" placeholder="Название изображения" disabled>
                </div>
                <label for="divideImage">Выбранное изображение будет отображаться на превью категории</label>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="divide-button">Добавить</button>
            </div>
        </form>
    </div>
</div>