<div class="container">
    <h2 class="text-center mt-5">Выберите действие:</h2>
    <div class="row mt-5">
        <div class="col-lg-6 p-0">
            <div class="divide-button text-center mx-auto">
                <a href="/control/add-divide">Добавить категории товаров</a>
            </div>
        </div>
        <div class="col-lg-6 p-0">
            <div class="divide-button text-center mx-auto">
                <a href="/control/add-divide">Удаление категории товаров</a>
            </div>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <div class="divide-button text-center mx-auto">
                <a href="/control/add-service">Добавить услугу</a>
            </div>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <div class="divide-button text-center mx-auto">
                <a href="/control/add-video">Удаление услуги</a>
            </div>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <div class="divide-button text-center mx-auto">
                <a href="/control/add-product">Добавить товар</a>
            </div>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <div class="divide-button text-center mx-auto">
                <a href="/control/add-product">Удалить товар</a>
            </div>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <div class="divide-button text-center mx-auto">
                <a href="/control/add-video">Добавить видео</a>
            </div>
        </div>
    </div>
</div>