<div class="container">
    <a href="/control/add-divide">Добавить категории товаров</a>
    <a href="/control/add-service">Добавить услугу</a>
    <a href="/control/add-product">Добавить товар</a>
    <a href="/control/add-video">Добавить видео</a>
</div>