<div class="container">
    <h2 class="text-center mt-5">Выберите действие:</h2>
    <div class="row mt-5">
        <div class="col-lg-6 p-0">
            <a class="divide-link" href="/control/add-divide">
                <div class="divide-button text-center mx-auto">
                    Добавить категории
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-0">
            <a class="divide-link" href="/control/edit-divide">
                <div class="divide-button text-center mx-auto">
                    Редактирование категорий
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <a class="divide-link" href="/control/add-service">
                <div class="divide-button text-center mx-auto">
                    Добавление услуг
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <a class="divide-link" href="/control/edit-service">
                <div class="divide-button text-center mx-auto">
                    Редактирование услуг
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <a class="divide-link" href="/control/add-product">
                <div class="divide-button text-center mx-auto">
                    Добавление товаров
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <a class="divide-link" href="/control/edit-product">
                <div class="divide-button text-center mx-auto">
                    Редактирование товаров
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <a class="divide-link" href="/control/add-video">
                <div class="divide-button text-center mx-auto">
                    Добавление видео
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <a class="divide-link" href="/control/edit-video">
                <div class="divide-button text-center mx-auto">
                    Редактирование видео
                </div>
            </a>
        </div>
    </div>
</div>