<div class="container">
    <h2 class="text-center mt-5">Выберите действие:</h2>
    <div class="row mt-5">
        <div class="col-lg-6 p-0">
            <div class="divide-button text-center mx-auto">
                <a href="/control/add-divide">Добавить категории</a>
            </div>
        </div>
        <div class="col-lg-6 p-0">
            <div class="divide-button text-center mx-auto">
                <a href="/control/edit-divide">Редактирование категорий</a>
            </div>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <div class="divide-button text-center mx-auto">
                <a href="/control/add-service">Добавление услуг</a>
            </div>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <div class="divide-button text-center mx-auto">
                <a href="/control/edit-service">Редактирование услуг</a>
            </div>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <div class="divide-button text-center mx-auto">
                <a href="/control/add-product">Добавление товаров</a>
            </div>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <div class="divide-button text-center mx-auto">
                <a href="/control/edit-product">Редактирование товаров</a>
            </div>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <div class="divide-button text-center mx-auto">
                <a href="/control/add-video">Добавление видео</a>
            </div>
        </div>
        <div class="col-lg-6 p-0 mt-5">
            <div class="divide-button text-center mx-auto">
                <a href="/control/edit-video">Редактирование видео</a>
            </div>
        </div>
    </div>
</div>