<div class="container services">
    {{#if service}}
        {{#each service}}
            <div class="col-lg-4">
                <div class="card d-flex align-items-center mx-auto">
                    <img class="img-fluid h-100" src="images/uslugi.png" alt="card-img">
                    <div class="service f-24 text-center">{{name}}
                        <a href="/control/edit-service/{{id}}" class="service-button text-center">Редактировать</a>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h3 class="text-center mt-3 mb-3">Услуги отсутствуют</h3>
        <a class="divide-link" href="/control/add-service">
            <div class="divide-button text-center mx-auto">
                Добавить услугу
            </div>
        </a>
    {{/if}}
</div>