<div class="container services">
    <h2 class="text-center mt-3">Редактирование услуг</h2>
    {{#if deleteSuccess}}
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="alert alert-success text-center">{{deleteSuccess}}</div>
            </div>
        </div>
    {{/if}}
    {{#if service}}
        <div class="row">
            {{#each service}}
                <div class="col-lg-3 col-sm-6 mt-4 col-12 mb-3 d-flex justify-content-center">
                    <div class="card-services d-flex flex-column align-items-center justify-content-around mx-auto">
                        <h2 class="card-services-title f-22 text-center font-weight-bold gold-text">{{name}}</h2>
                        <div class="service-divider"></div>
                        <div class="card-services-description f-18 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                        <a href="/control/edit-service/{{id}}" class="service-button text-center">Редактировать</a>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <h3 class="text-center mt-3 mb-3">Услуги отсутствуют</h3>
        <a class="divide-link" href="/control/add-service">
            <div class="divide-button text-center mx-auto">
                Добавить услугу
            </div>
        </a>
    {{/if}}
</div>