.footer{
    height: auto;
    padding-bottom: 30px;
}
.logo{
    width: 250px;
}
.organization{

}
.contacts a{
  color: #FFFFFF;
}
.contacts a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.container-fluid .divider{
    margin: 0;
    margin-top: 30px;
}
.policy-link{
    color: #FFFFFF;
}
.policy-link:hover{
    color: #FFFFFF;
    text-decoration: none;
}