.carousel-inner{
    height: 700px;
}
.carousel-item img{
    object-fit: cover;
}
.card{
    width: 250px;
    height: 350px;
    overflow: hidden;
    transition: 0.4s;
}
.card img{
    border: 1px solid #FFFFFF;
}
.sale{
    position: absolute;
    top: 25%;
    height: 70px;
    width: 100%;
    background: rgba(51, 51, 51, 0.85);
}
.card-button{
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    width: 150px;
    height: 45px;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid transparent;
    line-height: 40px;
    transition: 0.3s all;
}
.card-button:hover{
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #FFFFFF;
    text-decoration: none;
}
.service-button{
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    width: 150px;
    height: 45px;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid transparent;
    line-height: 40px;
    transition: 0.3s all;
}
.service-button:hover{
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #FFFFFF;
    text-decoration: none;
}
.catalog-button{
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    color: #000000;
    line-height: 48px;
    transition: 0.3s all;
    border: 1px solid transparent;
}
.catalog-button:hover{
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #FFFFFF;
    text-decoration: none;
}
.product-name{
    position: absolute;
    background: #333333;
    bottom: -3px;
    height: 70px;
    width: 100%;
    transition: 0.4s all;
}
.card:hover .product-name{
    height: 100px;
}
.card:hover .product-price{
    bottom: 15px;
}
.product-price{
    position: absolute;
    bottom: -3px;
    transition: 0.4s all;
}
.buy-link{
    position: absolute;
    bottom: -130px;
    right: -130px;
    color: #000000;
    transition: 0.4s all;
}
.card:hover .buy-link{
    bottom: -65px;
    right: -65px;
}
.buy-link:hover{
    color: #000000;
    text-decoration: none;
}
.buy{
    border-radius: 100%;
    width: 130px;
    height: 130px;
    background: #FFFFFF;
    transform: rotate(-45deg);
    line-height: 50px;
    font-size: 18px;
}
.cart-link{
    position: absolute;
    bottom: -130px;
    left: -130px;
    color: #000000;
    transition: 0.4s all;
}
.card:hover .cart-link{
    bottom: -65px;
    left: -65px;
}
.cart-link:hover{
    color: #000000;
    text-decoration: none;
}
.cart{
    border-radius: 100%;
    width: 130px;
    height: 130px;
    background: #FFFFFF;
}
.cart img{
    position: absolute;
    right: 15%;
    top: 20%;
}
.service{
    position: absolute;
    bottom: 0;
    background: #333333;
    height: 50px;
    width: 100%;
    transition: 0.3s all;
}
.service .service-button{
    bottom: -115%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 8px;
}
.card:hover .service{
    height: 100px;
}
.card:hover .service .service-button{
    bottom: 3px;
}
.home-form {
    background-image: url("/images/form-bg.svg");
    background-size: cover;
    padding: 43px 63px 63px 63px;
}
.home-form h2 {
    padding-bottom: 20px;
}
