body{
    background: #000000;
    color: #FFFFFF;
}
.divider{
    height: 2px;
    width: 100%;
    background: #333333;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-info{
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.53)
}
.reason-block{
    height: 150px;
}
.reason-number{
    max-width: 250px;
    background: #000000;
    border: 1px solid #FFFFFF;
}
img{
    object-fit: cover;
}

.form-control:focus {
    background: none;
    box-shadow: unset;
}