body{
    background: #000000;
    color: #FFFFFF;
    overflow-x: hidden;
}
.divider{
    height: 2px;
    width: 100%;
    background: #333333;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-info{
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.53)
}
.reason-block{
    height: 150px;
}
.reason-number{
    max-width: 250px;
    background: #000000;
    border: 1px solid #FFFFFF;
}
img{
    object-fit: cover;
}

.form-control:focus {
    background: none;
    box-shadow: unset;
}
.gold-text{
    background-image: linear-gradient(123.23deg, #FFFB09 0%, #DD8D04 43.75%, #FEF70B 76.04%, #F8A403 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

*::-webkit-scrollbar {
    background: none;
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-thumb {
    background: linear-gradient(123.23deg, #FFFB09 0%, #DD8D04 43.75%, #FEF70B 76.04%, #F8A403 100%);
    border-radius: unset;
    border: none;
}

:root {
    --scrollbarThumbColor: linear-gradient(123.23deg, #FFFB09 0%, #DD8D04 43.75%, #FEF70B 76.04%, #F8A403 100%);
}

* {
    scrollbar-color: #FEF70B #000000;
    scrollbar-width: thin
}
