.products .service, .videos .service{
    height: 100px;
}
.products .service-button, .videos .service-button{
    bottom: 3px;
}
.products .nav-tabs, .videos{
    border: none;
}
.products .nav-link, .videos{
    color: #FFFFFF;
}

.products .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    background-color: white;
}

.products .card {
    margin-top: unset;
}